@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Tommy';
    src: url('./FONTS/TOMMY_Bold.otf') format('opentype')
}

@font-face {
    font-family: 'Para';
    src: url('./FONTS/BABELSANS_PARA.ttf') format('truetype');
}

@font-face {
    font-family: 'stylish';
    src: url('./FONTS/Welcome.ttf') format('truetype');
}